
@media print {
    @page {size: landscape}
    -webkit-print-color-adjust: exact;
    .printheading, .printheading *{
        font: 300 30px 'Roboto', sans-serif !important; 
    }

    .printrotate{
        -webkit-transform: rotate(90deg); 
        -moz-transform:rotate(90deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }

    .col-print-1 {width:8%;  float:left;}
    .col-print-2 {width:16%; float:left;}
    .col-print-3 {width:25%; float:left;}
    .col-print-4 {width:33%; float:left;}
    .col-print-5 {width:42%; float:left;}
    .col-print-6 {width:50%; float:left;}
    .col-print-7 {width:58%; float:left;}
    .col-print-8 {width:66%; float:left;}
    .col-print-9 {width:75%; float:left;}
    .col-print-10{width:83%; float:left;}
    .col-print-11{width:92%; float:left;}
    .col-print-12{width: 100%; float:left;}

    .printwidth800{
        width: 800px;
    }
    .bg-danger{background-color:#ff5f5f !important;}
    .bg-warning{background-color:#f4c414 !important;}
    .bg-success{background-color:#3fcf7f !important;}

    .bg-inverse{    
        color: #fff !important;
        background-color: #233445 !important;
    }
    .print_nopadding{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    
    .cellshade_blue{
        background-color: #d1dffd !important;
    }
}
